@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --color-indigo-600: #4F46E5;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0 auto;
}
